body {
    margin: 0;
}

nav {
    height: 50px;
    background-color: midnightblue;
}

.liste {
    height: 100%;
    background-color: midnightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.items {
    margin-right: 10px;
    color: #f1f1f1;
    cursor: pointer;
}
.btn {
    display: none;
}

@media screen and (max-width: 500px) {
    .liste {
        flex-direction: column;
        height: 200px;
    }
    .items:nth-child(1) {
        border-top: 1px solid #fff;
        margin-top: 50px;
    }
    .items {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #fff;
        line-height: 50px;
    }
    .btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 15px;
        color: #fff;
        cursor: pointer;
    }
}